
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 shadow-sm sticky-top">
  <div class="container-fluid">
    <div class="dropdown">
      <!-- 切替ボタンの設定 -->
      <button type="button" class="btn btn-outline-bark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list fs-3 me-1 h-1"></i>
      </button>
      <!-- ドロップメニューの設定 -->
      <ul class="dropdown-menu">
      <ul class="list-group list-group-flush" style="width: 100%;">
          <%= link_to "ホーム",rooms_path, class:"list-group-item "%>
          <%= link_to "連絡する","#", class:"list-group-item "%>
          <% if admin_signed_in? %>
            <%= link_to "お知らせ投稿","#", class:"list-group-item "%>
            <%= link_to "ルームの作成", new_room_path, class:"list-group-item "%>
          <% end %>
        </ul>
      </ul>
    </div>
    <div class="navbar-brand mb-0 ms-2 h1 fs-3 ">
       <i class="fa-sharp fa-solid fa-cat"></i>
      池田保育園
      <i class="fa-sharp fa-solid fa-cat"></i>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if admin_signed_in? %>
          <div class="login-name me-5">
            <%= current_admin.admin_name%>
          </div>
          <div class="logout-btn ">
            <%= link_to "ログアウト",destroy_admin_session_path, method: :delete ,class:"text-decoration-none text-reset " %>
          </div>
        <% elsif user_signed_in? %>
          <div class="login-name me-5">
            <%= current_user.children_name %>
          </div>
          <div class="logout-btn ">
            <%= link_to "ログアウト",destroy_user_session_path, method: :delete ,class:"text-decoration-none text-reset " %>
          </div>
        <% else %>
          <div class="login-btn ms-5">
            <%= link_to "ログイン",new_user_session_path ,class: "text-decoration-none text-reset " %>
          </div>
          <div class="sign-btn ms-4">
            <%= link_to "新規登録",new_user_registration_path ,class: "text-decoration-none text-reset " %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>