<div class="container-field bg-light pt-3 pb-4" >
  <%# ----チャット画面-------- %>
  <% if admin_signed_in?%>
    <div class="d-flex">
      <div class="btn btn-secondary  ms-2 mt-1">
      <%= link_to "ルームを削除する",  room_path(@room), method: :delete , class:"text-decoration-none text-reset"%>
      </div>
    </div>
  <% end %>
  <% if user_signed_in?%>
    <div class="d-flex">
      <div class="btn btn-secondary  ms-2 mt-1">
      <%= link_to "ホームに戻る", root_path, class:"text-decoration-none text-reset"%>
      </div>
    </div>
  <% end %>
  <div class="chat border border-5 bg-light col-7  ">
    <div class="message-field">
      <% @message.each do |message|%>
        <% unless message.admin_message.nil? %>
          <div class="create-at message d-flex flex-row- align-items-start mb-1 ">
            <%= message.admin_message.admin.admin_name%>
          </div>
          <div class="message d-flex flex-row align-items-start mb-2">
            <div class="message-icon rounded-circle bg-primary text-white fs-2">
              <i class="fa-solid fa-school"></i>
            </div><!-- right-message-icon -->
            <div class="message-text p-2 ms-2 mb-0 bg-warning">
              <%= message.admin_message.message.content%>
              <%= image_tag message.admin_message.message.image.variant(resize: '250x250'), class: 'message-image' if message.image.attached? %>
            </div><!-- .right-message-text -->
          </div><!-- .right-message -->
          <div class="create-at message d-flex flex-row- align-items-start mb-1 ">
            <%= l message.created_at %>
            </div>
        <% else message.user_message.nil? %>
          <div class="message d-flex flex-row-reverse align-items-start me-2">
           <%= message.user_message.user.children_name%>
          </div>
          <div class="message d-flex flex-row-reverse align-items-start mb-2">
            <div class="message-icon rounded-circle bg-secondary text-white fs-3">
              <i class="fas fa-user"></i>
            </div><!-- .left-message-icon -->
            <div class="message-text p-2 me-2 mb-0 bg-info">
                <%= message.user_message.message.content%>
                <%= image_tag message.user_message.message.image.variant(resize: '250x250'), class: 'message-image' if message.image.attached? %>
            </div><!-- .left-message-text -->
          </div><!-- .left-message -->
          <div class="create-at message d-flex flex-row-reverse align-items-start mb-1">
            <%= l message.created_at %>
           </div>
        <% end%>
      <% end %>
    </div>
  </div>
  <div class="message-input bg-primary col-7  mb-1">
   <% if admin_signed_in?%>
      <%= form_with model:[@room, @message_form_admin], url: room_messages_path, class:"form" , local: true do |f|%>
        <div class="form-input">
          <%= f.text_field :content, class: 'form-message', placeholder: 'メッセージを入力してください' %>
          <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
          </label>
        </div>
        <%= f.submit '送信', class: 'form-submit' %>
      <% end %>
    <% end%>
    <% if user_signed_in?%>
      <%= form_with model: [@room, @message_form_user], url: room_messages_path, class:"form" , local: true do |f|%>
        <div class="form-input">
          <%= f.text_field :content, class: 'form-message', placeholder: 'メッセージを入力してください' %>
          <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
          </label>
        </div>
        <%= f.submit '送信', class: 'form-submit' %>
      <% end %>
    <% end%>
  </div>
</div>
  <%# ----//チャット画面//-------- %>

